body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(185, 185, 185);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "~antd/dist/antd.css";

.container-content {
  width: 1980px;
  margin: 5px auto;
  padding: 10px 20px 10px;
}

@media screen and (max-width: 2048px) {
  .container-content {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .container-content {
    max-width: 1480px;
  }
}

.carouselComponent h3 {
  font-size: 80px;
  color: white;
}
.carouselComponent h5 {
  font-size: 40px;
  color: white;
}
.carouselComponent button {
  height: 60px;
  width: 300px;
  text-align: center;
  font-size: 25px;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

.carouselComponent img {
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.searchResults,
.btnShowOrHide,
.shopingCart,
.updateAvt {
  display: none;
}

.tableCourses {
  border-collapse: collapse;
  width: 100%;
}

.tableCourses th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
